{{!--
Organisation general requisites
--}}

<div id="organisation-requisites">
  <h4 id="organisation-name" class="cursor-pointer font-medium text-light">Biedrība “Forums KUBS”</h4>
  <p id="organisation-registration-number">REĢ.NR. 40008335520</p>
  <p id="organisation-address" class="">ADRESE: Latvija, Ķekavas nov., Ķekavas pag., "Celmiņi"</p>
  <p id="organisation-mail-index">PASTA INDEKSS: LV-2113</p>
  <a id="organisation-telephone-number" href="tel:+37128659262" class="block cursor-pointer hover:underline">TEL: +371 28659262</a>
  <a id="organisation-email" href="mailto:info@forumskubs.lv" class="block cursor-pointer hover:underline">E-PASTS: INFO@FORUMSKUBS.LV</a>
  <p id="organisation-bank" class="mt-4">“Swedbank” AS</p>
  <p id="organisation-bank-code">KODS: HABALV22</p>
  <p id="organisation-bank-number" class="cursor-pointer hover:underline">KONTA NUMURS: LV59HABA0551057830840</p>
</div>